ipykernel
nltk
numpy
pandas
scikit-learn
tensorflow
tensorboard
matplotlib
scikeras
langchain
langchain_community
langchain_text_splitters
langchain_ollama
elasticsearch
wikipedia
duckduckgo-search
langchain_elasticsearch
neo4j
langchain-neo4j
transformers
datasets
peft
accelerate
bitsandbytes
langchain_huggingface
langchain_experimental
json_repair
graphiti_core